body, html{
	height: 100%;
}
header {
	margin-bottom: 50px;
}
.navbar-light {
	border-bottom: solid orange 10px;
}
#global {
	background-color: #fcfcfc;
}


h2 {
	text-align: center;
}

/* Form Observation
 ------------------ */

.sub-title {
	padding: 10px 10px 10px 10px;
	background: #eee;
	border-bottom: solid #ccc 1px;
}

.bloc-obs {
	/*padding: 10px 10px 10px 10px;*/
	border: solid #ccc 1px;
}

.corps {
	padding: 10px 10px 10px 10px;
}


/* Form Login
 ------------ */


.form-box {
	margin-top: 30px;
	margin-bottom: 80px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	/*
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
	*/
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	/*
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	*/
}

.nav-link {
	font-size: 30px;
}

#piedBlog {
	background-color: #f1f1f1;
}
/* Footer
 -------- */

footer {
	background: #ccc;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	height: 50px;
	text-align: center;
}

