body, html{
	height: 100%;
	color: #caab9a;
}
header {
	margin-bottom: 50px;
}
.navbar-light {
	border-bottom: solid #ffaf0c 10px;
}
#global {
	background-color: #f1f1f1;
}

h1 {
	color: #8a7569;
}

h2 {
	text-align: center;
	color: #b09587;
}

p {
	color: #caab9a;
}

a {
	color: #005b89;
}

a:link {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #ffaf0c;
}

.nav {
	height: 110px;
}

.nav-link {
	font-size: 16px;
}

.fa-bars {
	color: #ffaf0c;
}


/* CONTAINER FOSUSER
-------------------- */

.fosuser {
	background: blue;
}


/* MARKETING CONTENT
-------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
	margin: 50px 0 50px 0;
}
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
  	font-weight: normal;
	color: #b09587;
}
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
	color: #caab9a;
}


/* RESPONSIVE CSS
----------------- */

@media screen and (max-width: 991px) {
	#logo {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	#monCarousel {
		display: none;
	}
}

/* Form Observation
 ------------------ */

.sub-title {
	padding: 10px 10px 10px 10px;
	font-size: 1.4em;
	background: #e8e5e5;
	color: #dbb7a3;
	border-bottom: solid #ccc 1px;
}

.bloc-obs {
	border: solid #ccc 1px;
	background: #fcfcfc;
}

.corps {
	padding: 10px 10px 10px 10px;
	margin: 20px 10px 20px 10px;	
}

.latlng {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Form Login
 ------------ */


.form-box {
	margin-top: 30px;
	margin-bottom: 80px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	/*
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
	*/
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	/*
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	*/
}
/*
.nav-link {
	font-size: 30px;
}
*/

/* Footer
 -------- */

footer {
	background: #e8e5e5;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*height: 50px;*/
	text-align: center;
}

#monBouton {
	float: right;
}

.fa-facebook-official {
	float: left;
	color: #bebebe;	
}

.fa-facebook-official:hover {
	color: #3b5998;
	background: #fff;
}

