{# src/CoreBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div>
		{% block titlepage %}
		{% endblock %}
	</div>

	<hr>
	

	{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
	{% block core_body %}

		{% block fos_user_content %}
		{#ici le block utilisé par les différents template du FOSUserBundle#}
		{% endblock fos_user_content %}

	{% endblock %}

{% endblock %}