{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Modifier son profil - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<div class="row">
        <div class="col-xs-12 col-lg-12 picto">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="col-xs-12 col-lg-12">
			<h1 style="text-align: center;">Modifier mon profil</h1>
		</div>
	</div>
{% endblock %}

{% block fos_user_content %}
	{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
