{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Votre profil - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">Votre profil</h2>
{% endblock %}

{% block fos_user_content %}
	{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
