<html>

  	<head>
	
	</head>


	<body>
		
		<div>
			<img src="{{asset('assets/img/nao_36.png')}}" width=102 height=106>
			<h3>
				<strong>
					Cher(e) {{ user.username }},
				</strong>
				
			</h3>
		</div>
		
		<div>
			<p>Nous sommes au regret de vous informer que nous n'avons pu accéder favorablement à votre demande de statut "Naturaliste".</p>
			<br />
			<p>Les raisons :</p>
			<p>- justificatifs manquants ou non pertinents.</p>
			<br />
			<p>Vos identifiant et mot de passe restent inchangés.<p>
			<br />
			<p>Vous pouvez, dès à présent, renouveler votre demande, en vous rendant sur votre profil.<p>
			<p>sans oublier de nous faire parvenir, par mail, les justificatifs<p>
			<br />
			<p>L'équipe de Nos Amis les Oiseaux</p>
		</div>
		
	</body>	

</html>

