<html>

  	<head>
	
	</head>


	<body>
		
		<div>
			<img src="{{asset('assets/img/nao_36.png')}}" width=102 height=106>
			<h3>
				<strong>
					Cher(e) {{ user.username }},
				</strong>
				
			</h3>
		</div>
		
		<div>
			<p>Nous avons le plaisir de vous annoncer que votre demande de statut "Naturaliste" a été acceptée.</p>
			<p>Vous pouvez, dès à présent, avoir accès à la rubrique "Gestion", en vous connectant avec vos identifiant et pseudo habituels.</p>
			
			<br />
			
			<p>Toutes nos félicitations !</p>
			
			<br />
			
			<p>L'équipe de Nos Amis les Oiseaux</p>
		</div>
		
	</body>	

</html>

