{# src/CoreBundle/Resources/views/Front/admin.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}

{% block core_body %}

	<h2>Corps de la page</h2>
	<p>
		(src/CoreBundle/Resources/views/Front/admin.html.twig)
	</p>

{% endblock %}

