{# src/CoreBundle/Resources/views/Front/association.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Association - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">L'Association en quelques mots...</h2>
{% endblock %}


{% block core_body %}
	<div class="well">
		<h2></h2>



	</div>
{% endblock %}

