{# src/CoreBundle/Resources/views/Front/association.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Association - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h1 style="text-align: center;">L'Association en quelques mots...</h1>
{% endblock %}


{% block core_body %}
	<div class="well">
		<h2></h2><br />

        <div class="row">
            <div class="col-sm-6">
                <div class="sub-title">
                	<span>Qui sommes-nous ?</span>
              	</div>
              	<p>
              		Créée en 2003, NAO (Nos amis les oiseaux) est une association Loi de 1901 à but non lucratif, dont le siège est à Paris. 
              	</p>
                <p>	
                	NAO intervient dans le domaine de la protection de la nature, regroupant plus de 300 membres autour d’une passion commune : la connaissance et la conservation des oiseaux et des milieux dont ils dépendent..
              	</p>
	        </div>
            <div class="col-sm-6">
                <div class="sub-title">
            	<span>Nos objectifs</span>
          	</div>
              	<p>
              		Nous avons mis en place cette application afin de sensibiliser la population sur la préservation de la nature.
              	</p>
				<p>
              		Au travers de l'application et des données récoltés, les participants prendront part à un programme de recherche.
            	</p>
            </div>
        </div>

		<div class="row">
			<div class="col-lg-12">
				<div class="sub-title">
					<span>Les membres du conseil d'administration</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-lg-3">
				<figure>
					<img src="{{asset('assets/img/team/team-08.jpg')}}" width=100% height=100% alt="">
					<div class="image-overlay">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Michel Dujardin</strong>
								<span>Président de l'association</span>
							</div>
							<hr class="small-divider border-white">
						</div>
					</div>
				</figure>
			</div>
			<div class="col-sm-6 col-lg-3">
				<figure>
					<img src="{asset('assets/img/team/team-09.jpg')}}" width=100% height=100% alt="">
					<div class="image-overlay">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Melodie Clavard</strong>
								<span>Ornithologue </span>
							</div>
							<hr class="small-divider border-white">
						</div>
					</div>
				</figure>
			</div>
			<div class="col-sm-6 col-lg-3">
				<figure>
					<img src="{asset('assets/img/team/team-06.jpg')}}" width=100% height=100% alt="">
					<div class="image-overlay">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Daniel Bourbon</strong>
								<span>Naturaliste</span>
							</div>
							<hr class="small-divider border-white">
						</div>
					</div>
				</figure>
			</div>
			<div class="col-sm-6 col-lg-3">
				<figure>
					<img src="{asset('assets/img/team/team-07.jpg')}}" width=100% height=100% alt="">
					<div class="image-overlay">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Elizabeth Morin</strong>
								<span>Photographe animalier</span>
							</div>
							<hr class="small-divider border-white">
						</div>
					</div>
				</figure>
			</div>
		</div>
	</div>
{% endblock %}

