{# src/CoreBundle/Resources/views/Front/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block core_body %}

	<h2>Corps de la page</h2>
	<p>
		(src/CoreBundle/Resources/views/Front/index.html.twig)
		test morad 2
	</p>

{% endblock %}

