{# src/CoreBundle/Resources/views/Front/mentions_legales.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Mentions légales - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">Mentions légales</h2>
{% endblock %}


{% block core_body %}
	<div class="well">
		<h2></h2>



	</div>
{% endblock %}

