{# src/CoreBundle/Resources/views/Front/observation.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Observation - {{ parent() }}
{% endblock %}

{% block titlepage %}
	<div class="row">
        <div class="col-xs-12 col-lg-12 picto">
			<span class="fa fa-search fa-3x"></span>
		</div>
		<div class="col-xs-12 col-lg-12">
			<h1 style="text-align: center;">Ajouter une observation</h1>
		</div>
	</div>
<style>
	#map {
		height: 300px;
		width: 100%;
	}
</style>
{% endblock %}


{% block core_body %}			
		
<div class="well">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="sub-title">
				<h2>Quel oiseau ?</h2>
			</div>
			<div class="corps">
				<form action="POST" onsubmit="return false;">
					{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

					{{ form_widget(form.nomVern, {
						'attr': {
							'data-id': 'listedesespeces',
							'data-url': path('core_autocompletion')
							}
						})
					}}
					<br />
					
					{{ form_end(form) }}
				
					<br />
					<button class="btn btn-primary" id="formobs">Ajouter une observation</button>
				</form>
				
			</div>
		</div>
	</div>
</div>




<br /><hr>

{% endblock %}

