{# src/CoreBundle/Resources/views/Front/observation.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Observation - {{ parent() }}
{% endblock %}

{% block titlepage %}
<h1 style="text-align: center;">Ajouter une observation</h1>
<style>
	#map {
		height: 300px;
		width: 100%;
	}
</style>
{% endblock %}


{% block core_body %}			
		
<div class="well">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="sub-title">
				<span>Quel oiseau ?</span>
			</div>
			<div class="corps">
				<form action="POST">
				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

				{{ form_widget(form.nomVern, {
					'attr': {
						'data-id': 'listedesespeces',
						'data-url': path('core_autocompletion')
						}
					})
				}}
				<br />
				
				<div>Vous avez un doute ? Vérifiez l'espèce à l'aide de sa fiche INPN ! 
					<a id = 'url' href="" target="_blank"></a>
				</div>
				
				<br />
				
				
				{{ form_end(form) }}
				
				
					<button class="btn btn-primary" id="formobs">Valider</button>
				</form>
				
			</div>
		</div>
	</div>
</div>




<br /><hr>

{% endblock %}

