{% extends "CoreBundle::layout.html.twig" %}
{% block core_body %}
<div>
     <label for="nomVern">Espece</label> : <input id="men_commandesbundle_commandetype_nature" type="text" name="nomVern" size="30" value="" />
</div>

<script>  
    $('#men_commandesbundle_commandetype_nature').autocomplete({
        source : function(requete, reponse){
            var motcle = $('#men_commandesbundle_commandetype_nature').val();
            var DATA = 'motcle=' + motcle;
            $.ajax({
                type:"POST",
                url : "{{ path('core_ajaxnature') }}",
                dataType : 'json',
                data : DATA,
 
                success : function(donnee){
                    reponse($.map(donnee, function(objet){
                        return objet;
                    }));
                }
            });
        }
    });
    </script>
{% endblock %}