{% trans_default_domain 'FOSUserBundle' %}

	<div class="col-lg-6 col-lg-offset-3">
                        	
		<div class="form-box">
			<div class="form-top">
				<div class="form-top-left">
					<h3>Inscrivez-vous maintenant</h3>
					<p>Remplissez le formulaire ci-dessous pour obtenir un accès immédiat :</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil"></i>
				</div>
			</div>
			<div class="form-bottom">
				{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
					
					{{ form_widget(form) }}
					<p>Cochez cette case si vous êtes un professionnel de la nature.</p>
					<p>Pour que votre candidature soit étudiée, vous devez nous faire parvenir les documents justificatifs par mail à l'adresse suivante : contact.nao2017@gmail.com</p>
					<br />
					<div>
						<input class="btn btn-primary col-lg-4" type="submit" value="{{ 'registration.submit'|trans }}" />
					</div>
					<br /><br />
				{{ form_end(form) }}
			</div>
		</div>

	</div>
