{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Créer un compte - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h1 style="text-align: center;">Créez un compte NAO</h1>
{% endblock %}

{% block fos_user_content %}
	{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
