{% trans_default_domain 'FOSUserBundle' %}

<h1>Créer un compte NAO</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}


	<div class="col-sm-5">
                        	
		<div class="form-box">
			<div class="form-top">
				<div class="form-top-left">
					<h3>Inscrivez-vous maintenant</h3>
					<p>Remplissez le formulaire ci-dessous pour obtenir un accès immédiat :</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil"></i>
				</div>
			</div>
			<div class="form-bottom">
				<form role="form" action="" method="post" class="registration-form">
					<div class="form-group">
						<label class="sr-only" for="form-first-name">First name</label>
						<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-last-name">Last name</label>
						<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-email">Email</label>
						<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-about-yourself">About yourself</label>
						<textarea name="form-about-yourself" placeholder="About yourself..." 
									class="form-about-yourself form-control" id="form-about-yourself"></textarea>
					</div>
					<button type="submit" class="btn">Sign me up!</button>
				</form>
			</div>
		</div>

	</div>
