{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Créer un compte - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">Créer un compte</h2>
{% endblock %}

{% block fos_user_content %}
	{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
