{# src/CoreBundle/Resources/views/Back/admin.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">Administration</h2>
{% endblock %}


{% block core_body %}
	<div class="well">
		<h2></h2>



	</div>
{% endblock %}

