{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Changer de mot de passe - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h2 style="text-align: center;">Changer de mot de passe</h2>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
