{# src/Nao/CoreBundle/Resources/views/Front/index.html.twig #}

<!DOCTYPE html>
<html>

<head>
	<title>Accueil - NAO</title>
</head>

<body>
	<h1>Nos Amis les Oiseaux</h1>

	<p>
		Michel Dujardin est le fondateur de l’association NAO (Nos Amis les Oiseaux), regroupant les passionnés d’ornithologie. Il souhaite créer une application participative dans laquelle les particuliers pourraient indiquer où ils ont observé des oiseaux au cours de leurs promenades.
	</p>
	<p>
		Les participants prendront part à un programme de recherche visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.
	</p>
	<p>
		Les utilisateurs principaux de l’application sont les particuliers et les naturalistes (professionnels) qui valident notamment les saisies sur l’application. Ces derniers ont exprimé leur intérêt pour pouvoir effectuer de la saisie sur le terrain et ouvrir les observations aux particuliers, grâce aux smartphones. Néanmoins, tout le monde n’étant pas équipé de smartphones, cela ne peut pas être l’unique méthode de saisie : une interface web sera aussi nécessaire.
	</p>
</body>

</html>
