{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Connexion - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<div class="row">
        <div class="col-xs-12 col-lg-12 picto">
			<span class="fa fa-sign-in fa-3x"></span>
		</div>
		<div class="col-xs-12 col-lg-12">
			<h1 style="text-align: center;">Connexion</h1>
		</div>
	</div>
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
