{% extends "::layout.html.twig" %}

{% block body %}

	<div>
		<div class="container fosuser">
			<div class="row">
				<div class="col-xs-12">
					{% block fos_user_content %}
					{% endblock fos_user_content %}
				</div>
			</div>
		</div>		
	</div>

{% endblock %}
   