{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	Mot de passe oublié - {{ parent() }}
{% endblock %}


{% block titlepage %}
	<h1 style="text-align: center;">Mot de passe oublié</h1>
{% endblock %}

{% block fos_user_content %}
	{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
